---
layout: page
description: "Software Engineer💡♡| Graduate Student in ECE👩‍🎓 | Dreamer🌈 | Fruit addicted🍑🍉"
---

<div class="post-preview">
        <h2 class="post-title">
            About Me
        </h2>
        <div>
            Hey, I am Susie. Nice to Meet you 🤗.
        </div>
        <br>

        <div>
            I am a master student studying in Computer Software Engineering at the Univeristy of Illinois at Urbana Champaign, graduating by May 2019. I have experience in system programming, web development as well as other software development engineer's required skills. Before I came to U of I, I had four year work experience in State Grid Corporation of China as solution solver, where I learned dedication. I applied algorithms to improve grid network efficiency. 
        </div>


        <br>


        <div>
            I quit my previous job because I always like to learn new things and I am a faster learner. I like to stay positive about everything and keep learning. 
        </div>
        <br>

</div>
<hr>


{% for post in paginator.posts %}
<div class="post-preview">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div>
            {% if post.lang == 'en' %}
                {{ post.content}}
            {% else %}
                {{ post.content}}
            {% endif %}
        </div>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
